
@using App.Marriage.Utils
<script src="~/Scripts/JSCallAjax.js"></script>
<script>
    function SearchPerson() {

        var url = "@Url.Action("GetPerson", "SearchPerson")";
        var Parameter = [
            ["Country", Country.GetValue()],
            ["Ages", Ages.val],
            ["Education", Education.GetValue()],
            ["Nationality", Nationality.GetValue()],
            ["Gender", Gendr.GetValue()]
        ];
        CallContoller(url, Parameter, "Search");
    };


    function RefeshMethod(data) { };
    function WriteSearchResult(data) {
        $("#search-result").clear();
    };
   
</script>
<style>
    input {
        height: 40px;
    }
</style>
<section id="events" class="section-events">
    <h2>@Globalization.Search</h2>
    <div class="section-intro">
        <p>الرجاء ادخال البيانات التي تريد ان تبحث خلالها</p>
    </div>


    <form class="form-inline">
        <div class="form-group col-sm-2">
            <label for="exampleInputName2" class="col-sm-1">@Globalization.App_living</label>
            
                @Html.DevExpress().ComboBox(settings =>
           {
               settings.Name = "Country";
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               settings.Properties.ValueType = typeof(int);
               settings.Properties.ValueField = "Id";
               settings.Properties.TextField = "Name";
               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               settings.Style.Value = "form-control col-sm-2";

           }).BindList(ViewData["Country"]).GetHtml()
       
        </div>
        <div class="form-group col-sm-2">
            <label for="exampleInputEmail2" class="col-sm-2">@Globalization.App_Age</label>
            <input type="number" class="form-control col-sm-2" id="Ages" placeholder="20" value="0">
        </div>
        <div class="form-group col-sm-2">
            <label for="exampleInputEmail2" class="col-sm-2">@Globalization.App_Education</label>
                @Html.DevExpress().ComboBox(settings =>
           {
               settings.Name = "Education";
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               settings.Properties.Items.Add(@Globalization.Colleage, "Colleage");
               settings.Properties.Items.Add(@Globalization.HighSchool, "HighSchool");
               settings.Properties.Items.Add(@Globalization.None, "None");
               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

               settings.Style.Value = "form-control col-sm-2";
           }).GetHtml()
        </div>

        <div class="form-group col-sm-2">
            <label for="exampleInputEmail2" class="col-sm-2">@Globalization.App_Nationality</label>
            @Html.DevExpress().ComboBox(settings =>
       {
           settings.Name = "Nationality";
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
           settings.Properties.ValueType = typeof(int);
           settings.Properties.ValueField = "Id";
           settings.Properties.TextField = "Name";
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Style.Value = "form-control col-sm-2";
       }).BindList(ViewData["Nationality"]).GetHtml()
        </div>

        <div class="form-group col-sm-2">
            <label for="exampleInputEmail2" class="col-sm-3">@Globalization.App_SocialStatus</label>
            @Html.DevExpress().ComboBox(settings =>
       {
           settings.Name = "Gendr";
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
           settings.Properties.Items.Add(@Globalization.Male, "Male");
           settings.Properties.Items.Add(@Globalization.Femal, "Femal");
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

           settings.Style.Value = "form-control col-sm-2";
       }).GetHtml()
        </div>
        <div class="form-group col-sm-2">
            <label for="exampleInputEmail2" class="col-sm-2">@Globalization.App_Work</label>
            <input type="number" class="form-control col-sm-2" id="SPWork" placeholder="@Globalization.App_Work">
        </div>
        <div class="col-sm-12">
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary" onclick="SearchPerson()">@Globalization.StartSearch</button>
        </div>
    </form>

    <div>
        @Html.Partial("_PersonSearchResult")
    </div>

</section>