@model App.Marriage.Models.PersonMV.PersonViewModel
@{
    Layout = "~/Views/Shared/_Layout-theme-01.cshtml";
}
@{
    ViewBag.Title = "إنشاء بطاقة";
}

<h2 style="text-align:center">إنشاء بطاقة مشترك جديد</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:90%; margin-right:5%; margin-left:5%">
        @{
            if ((string)ViewData["Gender"] == "1")
            {
                <h4 style="text-align:center;color:cornflowerblue">بيانات المشترك (ذكر)</h4>
            }
            else
            {
                <h4 style="text-align:center; color:palevioletred">بيانات المشترك (أنثى)</h4>
            }
        }
       
        <hr />
        <h5 style="color:coral">ملاحظة: الحقول التي تحدد أنها مخفية لن يطلع عليها أحد من زوار الموقع </h5>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-primary">
            <div class="panel-heading">معلومات شخصية </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("الاسم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("الكنية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("الاسم المستعار", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                    </div>

                   
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.FullName_IsHidden, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("إخفاء الاسم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.FullName_IsHidden)
                            @Html.ValidationMessageFor(model => model.FullName_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء الكنية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.SurName_IsHidden)
                            @Html.ValidationMessageFor(model => model.SurName_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء الاسم المستعار", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.NickName_IsHidden)
                            @Html.ValidationMessageFor(model => model.NickName_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    

                </div>
                <div class="form-group">
                    @Html.Label("اسم الأب", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Father, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Father, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("اسم الأم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Mother, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mother, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("العمر", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("الجنسية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Nationality_Id,new SelectList(ViewData["NatCombo"] as SelectList,"Value","Text"), new { htmlAttributes = new { @class = "form-control" }, style = "width: 170px;" })
                        @*@Html.EditorFor(model => model.Nationality_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Nationality_Id, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("وثيقة اثبات الشخصية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("تاريخ الميلاد", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">

                        @Html.DevExpress().DateEditFor(m => m.BirthDate, settings =>
                       {
                           settings.Properties.EditFormat = EditFormat.Date;
                       }).GetHtml()

                        
                       @* @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <span class="btn btn-default btn-file">
                            الصورة الشخصية 1 <input type="file" accept="image/*" name="Pic1">
                        </span>
                       
                        
                    </div>
                    <div class="col-md-3">
                        <span class="btn btn-default btn-file">
                            الصورة الشخصية 2 <input type="file" accept="image/*" name="Pic1">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("إخفاء الصورة الشخصية 1", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Photo1_IsHidden)
                            @Html.ValidationMessageFor(model => model.Photo1_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء الصورة الشخصية 2", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Photo2_IsHidden)
                            @Html.ValidationMessageFor(model => model.Photo2_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

               
            </div>
        </div>




        <div class="panel panel-info">
            <div class="panel-heading">معلومات التواصل </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("رقم الجوال", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("واتس اب", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("البريد الالكتروني", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("إخفاء رقم الجوال", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Phone1_IsHidden)
                            @Html.ValidationMessageFor(model => model.Phone1_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء رقم الواتس اب", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Phone2_IsHidden)
                            @Html.ValidationMessageFor(model => model.Phone2_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء البريد الالكتروني", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Email_IsHidden)
                            @Html.ValidationMessageFor(model => model.Email_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("من المحافظة / البلد الأم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.CountryState, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CountryState, "", new { @class = "text-danger" })
                    </div>

                    @Html.Label("دولة الأقامة الحالية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.Residence_Country_Id, new SelectList(ViewData["Country"] as SelectList,"Value","Text"), new { htmlAttributes = new { @class = "form-control" }, style = "width: 170px;" })
                       @* @Html.EditorFor(model => model.Residence_Country_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Residence_Country_Id, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="form-group">
                    @Html.Label("عنوان السكن الحالي", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("إخفاء العنوان", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Adress_IsHidden)
                            @Html.ValidationMessageFor(model => model.Adress_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="panel panel-success">
            <div class="panel-heading">معلومات اجتماعية </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("الحالة الاجتماعية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.SocialStatus, new SelectList(ViewData["Social"] as SelectList, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.EditorFor(model => model.SocialStatus, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.SocialStatus, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("عدد الأولاد (بحال وجودهم)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.ChildCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChildCount, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("عمر أكبرهم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.MaxChildAge, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaxChildAge, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("عمر أصغرهم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.MinChildAge, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MinChildAge, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-warning">
            <div class="panel-heading">التعليم والعمل</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("المستوى التعليمي", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Education,new SelectList(ViewData["Education"] as SelectList,"Value","Text"), new { htmlAttributes = new { @class = "form-control" } })
                       @* @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("التخصص/ الفرع", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.EducationBranch, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EducationBranch, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("طبيعة العمل", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.WorkType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("اللغات", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Languages, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Languages, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("الحالة المادية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.LivingLevel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LivingLevel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">مواصفات شخصية</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("العلامات الفارقة/ المواصفات", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Theams, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Theams, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("إخفاء العلامات الفارقة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Theams_IsHidden)
                            @Html.ValidationMessageFor(model => model.Theams_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("لون البشرة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("الطول /سم", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("الوزن /كغ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("إخفاء لون البشرة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Color_IsHidden)
                            @Html.ValidationMessageFor(model => model.Color_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء الطول", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Height_IsHidden)
                            @Html.ValidationMessageFor(model => model.Height_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Label("إخفاء الوزن", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Weight_IsHidden)
                            @Html.ValidationMessageFor(model => model.Weight_IsHidden, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">الهوايات</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("الهوايات", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Hobbies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Hobbies, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-success">
            <div class="panel-heading">الدين</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("الديانة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Culture,new SelectList(ViewData["Culture"] as SelectList,"Value","Text"), new { htmlAttributes = new { @class = "form-control" }, style = "width: 170px;" })
                        @*@Html.EditorFor(model => model.Culture, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Culture, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("مستوى التدين", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CultureLevel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CultureLevel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">معلومات عامة</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("معلومات عامة / السيرة الذاتية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.TextAreaFor(model => model.GeneralInfo, new { htmlAttributes = new { @class = "form-control col-xs-12", @cols = 80, @rows = 10 } })*@
                        @Html.TextAreaFor(model => model.GeneralInfo,  new { @class = "form-control col-xs-12", @cols = 80, @rows = 10 } )
                        @Html.ValidationMessageFor(model => model.GeneralInfo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إنشاء" class="btn btn-default" />
            </div>
        </div>
      </div>
            }

                @*<div>
                    @Html.ActionLink("عودة", "Index")
                </div>*@
