@using App.Marriage.Models
@using App.Marriage.Models.UserMV
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl , RelationRequestUserId =ViewBag.RelationRequestUserId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>قم بستجيل دخولك الى النظام</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                *@
                <div class="form-group">
                    <div class="col-md-2">
                        اسم المستخدم
                    </div>

                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-2">
                    كلمة المرور
                        </div>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            تذكرني
                        </div>
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="تسجيل دخول" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>

        <section id="register" class="section-story">
            <h2>سجل بالموقع</h2>
            <div class="section-intro">
                <p>سجل الان بموقع سكنا واستفد من الخدمات المقدمة  وابقا على تواصل مع الادارة لتحصل على المساعدة في ايجاد الشريك المناسب لك</p>
            </div>
            <div class="text-center">
                <a class="btn btn-success" href="/Person/Create/1" style="color: #fff;outline: 0;font-weight: bold;">أضغط هنا للتسجيل</a>
                <a class="btn btn-primary" href="/Person/Create/2">أضغطي هنا للتسجيل</a>
            </div>
        </section>
    </div>
</div>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@